# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# ide
.vscode

**/bin
**/obj

Lambda/**/**/obj
Lambda/**/**/bin
Lambda/**/**/node_modules

# dependencies
Web/slack/node_modules/
Web/slack/build/
